@charset "UTF-8";
/* CSS Document */
input.error {
   	background-color: #e1e1da;
	padding: 5px;
	border-style: dotted !important;
	border-width: 1px;
	border-color: red !important;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.tablewithapps{
	margin-top:-137px !important;
}
.adetUsu{}
input[type=button]:disabled{
	  background-color: #666;
  cursor: default;
}
.loading { 
	background: url(../images/cargando.gif) center no-repeat !important;
	background-size: 100%;
	height: 80px;		
}

.data_table {
font-family: helvetica;
font-size: 11px;
}
.contenedor-tabla-usu {
	width: 95%;
	margin-left:3%;
	cursor: pointer;
	*cursor: hand;
	height:310px;
	font-family: Helvetica;
	font-size: 11px;
	overflow: auto;
	
}


.Input_Normal { color: #60605a; font-size: 12px; font-family:  Helvetica, Arial, Verdana, sans-serif; font-weight: normal; border-width: 0; }
.Input_Largo { color: #60605a; width:auto; max-width:180; font-size: 12px; font-family:  Helvetica, Arial, Verdana, sans-serif; font-weight: normal; border-color:#BBBBBB; border-width:thin; }
.Titulo_Normal { color:#60605a;font-size: 13px; font-family: Helvetica, Arial, Verdana, sans-serif; }
.Titulo_Negrita { color: #60605a; font-size: 13px; font-family: Helvetica, Arial, Verdana, sans-serif; font-weight: bold; }
.Texto_Normal {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
	color:#60605a;
}
.Texto_Blanco {
	font-family:Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
    font-weight: bold;
    color: white;
}
.Texto_Rojo {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
	color: red;
	
}
.Texto_Negrita { 
	font-size: 11px; 
	font-family: Helvetica, Arial, Verdana, sans-serif; 
	font-weight: bold;	
	color:#60605a;
}

.botones {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	color: grey;
	background-color: #666666;
	margin: 1px;
	padding: 3px;
	text-align: left;
	display: block;
	white-space:nowrap;
}
.botones:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	color: grey;
	background-color: #909090;
	margin: 1px;
	padding: 3px;
	display: block;
	text-decoration: none;
	text-align: left;
	white-space:nowrap;
}
.botonesHover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	color: red;
	background-color: #909090;
	margin: 1px;
	padding: 3px;
	display: block;
	text-decoration: none;
	text-align: left;
}
.submenu-top-cat {
	
	width:auto;
	height: 32px;
	position: absolute;
	z-index: 300;
	top: 301px;
	left: 50px;	
	background-repeat: repeat-x;
	background-position: bottom;
	text-align: left;

}

.submenu-top-cat ul {
	list-style: none;
	margin: 0px;
	margin-left: -40px;
	padding-left: 40px;
	margin-top: 0px;
	
}

.submenu-top-cat ul li {
	font-family: SecLight, Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #60605a;
	margin-top: 8px;
	padding-bottom: 3px;
	cursor: pointer;
	float: left;
	margin-right: 10px;
	margin-left: 10px;

}

.submenu-top-cat ul li.submenu-top-selected {
	font-family: SecLight, Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #dc4b34;
	margin-top: 8px;
	padding-bottom: 3px;

}

.submenu-top-cat ul li:hover {
	font-family: SecLight, Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #dc4b34;
	margin-top: 8px;
	padding-bottom: 3px;

}

.submenu-top-cat ul li a:link {
	color: #60605a;
	text-decoration: none;
}
.submenu-top-cat ul li a:hover {
	color: #dc4b34;
	text-decoration: none;
}
.submenu-top-cat ul li a:visited {
	color: #60605a;
	text-decoration: none;
}
.submenu-top-cat ul li a:visited:hover {
	color: #dc4b34;
	text-decoration: none;
}

a.enlacesmenu{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	display: block;
}
a.enlacesmenu:hover{
	text-decoration: none;
	color: black;
}
a.sinenlace{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: yellow;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	display: block;
}
a.sinenlace:hover{
	text-decoration: none;
	color: black;
}
body.programs{
	background-image: none;
}
body {
	margin: 0px auto;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	background-position-y: -100px;
	background-attachment: fixed;
  	background-repeat: no-repeat;
}
.body-thickbox {
	margin: 0px auto;
	background-image:none;
	background-repeat: repeat-y;
	background-size: 100%;
	background-position-y: -100px;
}

/*	GLOBAL */

.main {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: auto;
	background-color: white;

}

.main-top {
/* 	position: absolute; */
/* 	width: 100%; */
/* 	height: 100px; */
/* 	top: 0px; */
/* 	z-index: 101; */
/* 	background-color:white; */
	position: absolute;
	width: 100%;
	height: 36px;
	background-color: #3c3c3c;
	top: 0px;

}
.main-bottom {
	position: relative;
	width: 100%;
	height: 150px;
	bottom: 0px;
	z-index: 101;
	background-color:white;
	float: left;
	
}


.content {
	position: relative;
	width: 80%;
	margin-left:10%;
	top:36px;
	background-color: white;
	z-index: 200;
	min-height: 730px;
}

.logo {
	position: absolute;
	z-index: 200;
	margin-left: 25px;
}

.logo-1024 {
	width: 120px;
	height: 124px;
	position: absolute;
	z-index: 200;
	top: 106px;
	left: 0px;

}

/*	SUBMENU TOP	*/

.submenu-top {
	width: 750px;
	height: 32px;
	position: absolute;
	z-index: 300;
	top: 230px;
	left: 40px;
	background-image: url(../images/bg-menu-top.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	text-align: left;

}

.submenu-top ul {
	list-style: none;
	margin: 0px;
	margin-left: -40px;
	padding-left: 40px;
	margin-top: 0px;
	
}

.submenu-top ul li {
	font-family: Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #60605a;
	margin-top: 8px;
	padding-bottom: 3px;
	cursor: pointer;
	float: left;
	margin-right: 20px;
	margin-left: 10px;

}

.submenu-top ul li.submenu-top-selected {
	font-family: Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #D20D2A;
	margin-top: 8px;
	padding-bottom: 3px;

}

.submenu-top ul li:hover {
	font-family: Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #D20D2A;
	margin-top: 8px;
	padding-bottom: 3px;

}

.submenu-top ul li a:link {
	color: #60605a;
	text-decoration: none;
}
.submenu-top ul li a:hover {
	color: #D20D2A;
	text-decoration: none;
}
.submenu-top ul li a:visited {
	color: #60605a;
	text-decoration: none;
}
.submenu-top ul li a:visited:hover {
	color: #D20D2A;
	text-decoration: none;
}

/*	END SUBMENU TOP	*/

.line {
	height: 10px;
	width: 100%;
	border-bottom-color: #eeeee8;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

.line2 {
	height: 2px;
	width: 100%;
/*	border-bottom-color: #eeeee8;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
*/
	margin-bottom: 20px;
}


/*	HOME */

.top-top {
	width: 976px;
	height: 11px;
	background-color: white;
	float: left;
}

.top-content {
	position: relative;
	width: 80%; 
	margin-left:10%;
	z-index:300;
	float: left;
	top:0px;
	padding: 0px;
 	background-image: url(../images/bg-top.png); 
 	background-size: 100%; 
 	background-repeat: no-repeat;
 	 
 	
 	
}

.sub-content
{

}
.top-menu {
	width: 974px;
	height: 25px;
	left: 2px;
	float: left;
	position:relative;
	background-image: url(../images/bg-menu-top.jpg);
	background-repeat: repeat-x;
}

.top-menu ul {
	margin: 0px;
	margin-left: 10px;
	padding-left: 40px;
	list-style: none;
	height: 20px;
}

.top-menu ul li {
	float: left;
	font-size: 11px;
	font-family: Helvetica;
	color: #60605a;
	text-shadow: 0px 1px 0px #fff;
	height: 15px;
	padding-left: 10px;
	padding-right: 34px;
	padding-top: 5px;
	cursor: pointer;

}
.top-menu ul li ul{
	display:none;
	position:absolute;
	margin-left:-20px;

}

.top-menu ul li:hover ul{
    display:block;    
	height:auto; 
	width:22em; 
}

.top-menu ul li.top-menu-selected {
	float: left;
	font-size: 11px;
	font-family: Helvetica;
	color: #60605a;
	text-shadow: 0px 1px 0px #fff;
	height: 15px;
	padding-left: 10px;
	padding-right: 34px;
	padding-top: 5px;
	cursor: pointer;
 	background-image: url(../images/bg-menu-top-over.png); 
 	background-position: right; 
	background: red;
}

.top-menu ul li:hover {
	background-image: url(../images/bg-menu-top-over.png);
	background-position: right;
}

.top-menu ul a:link {
	text-decoration: none;
	color: #60605a;
	
}
.top-menu ul a:visited {
	text-decoration: none;
	color: #60605a;
	
}

.cuerpo {
	width: 100%;
	float: left;
	height: 100%;
	background:white;
}

.sidebar {
	margin-top: 70px;
	width: 230px;
	float: right;
	height: auto;
}

/*	FOOTER	*/

.footer {
	position: absolute;
	width: 100%;
	height: 46px;
	background-color: #656465;
	bottom: 0px;
}

.footer-logo {
	position: relative;
	float: left;
	width: 100px;
	margin-left: 10px;
	margin-top: 60px;
}

.footer-menu {
	float: left;
	width: 800px;
	margin-top: 59px;
}

.footer-menu ul {
	list-style: none;
	margin: 0px;
	margin-left: -40px;
	padding-left: 40px;
}

.footer-menu ul a:link {
	text-decoration: none;
	color: #60605a;
}

.footer-menu ul a:visited {
	text-decoration: none;
	color: #60605a;
}

.footer-menu ul a:hover {
	text-decoration: none;
	color: #D20D2A;
}
.footer-menu ul a:visited:hover {
	text-decoration: none;
	color: #D20D2A;
}


.footer-menu ul li {
	float: left;
	font-family: Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #60605a;
	padding: 9px;
	cursor: pointer;
	
}

.footer-menu ul li:hover {
	color: #D20D2A;
	
}

.footer-legal {
	float: left;
	width: 800px;
	font-family: Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #60605a;
	padding: 10px;
	margin-top: 15px;
	
}

.mate {
	width: 40px;
	height: 26px;
	float: right;
	background-image: url(../images/mate-iddle.png);
	background-position: left;
	background-repeat: no-repeat;
	margin-top: 20px;
	cursor: pointer;
}

.mate:hover {
	background-image: url(../images/mate-over.png);
	background-position: left;
	background-repeat: no-repeat;
}

.fsi {
	width: 26px;
	height: 26px;
	float: right;
	background-image: url(../images/fsi-iddle.png);
	background-position: left;
	background-repeat: no-repeat;
	margin-top: 20px;
	cursor: pointer;
}

.fsi:hover {
	background-image: url(../images/fsi-over.png);
	background-position: left;
	background-repeat: no-repeat;
}


.cuerpo .bloque {
	text-align: left;
	margin-top: 10px;
	width: 90%;
	float: left;
	height: auto;
	margin-left:5%;
	border-top-color: #d3d2c9;
	border-top-style: dotted;
	border-top-width: 1px;
}

.error {
	font-size: 12px;
	font-family:  Helvetica, Arial, Verdana, sans-serif;
	color: red;
	font-weight: normal;
	padding-left: 5px;
}

.cuerpo h1 {
	font-size: 16px;
	font-family: Helvetica;
	color: #fff;
	font-weight: normal;
	margin: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color: #60605a;
	padding: 7px;
}

.cuerpo .bloque h1 {
	font-size: 14px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #fff;
	font-weight: normal;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color: #60605a;
	padding: 7px;
}

.body-thickbox h1 {
	font-size: 14px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #fff;
	font-weight: normal;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color: #60605a;
	padding: 7px;
}
 .label {
	font-size: 13px;
	font-family: Helvetica;
	color: #60605a;
	font-weight: normal;
	
	margin-top: 10px;
	
}
.cuerpo .bloque h2 {
	font-size: 13px;
	font-family: Helvetica;
	color: #60605a;
	font-weight: normal;
	margin: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.cuerpo .bloque h3 {
	font-size: 14px;
	font-family: Helvetica;
	color: #006699;
	font-weight: normal;
	margin: 0px;
	margin-bottom: 5px;
	margin-top: 10px;
}


.cuerpo .bloque .inputtext {
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #60605a;
	font-weight: normal;
	background-color: #e1e1da;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #c9c9c3;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	height: 26px;
	margin-left: 10px;
	margin-right: 10px;
}
.cuerpo .bloque .inputtext-chico {
	font-size: 11px;
	font-family: Helvetica;
	color: #60605a;
	font-weight: normal;
	background-color: #e1e1da;
	padding: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #c9c9c3;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	height: 13px;
}
.contenido-tab {
	text-align: left;
	margin-top: 5px;
	width: 98%;
	float: left;
	height: auto;
	border-top-color: #d3d2c9;
	border-top-style: dotted;
	border-top-width: 1px;
}
.campo-right{
	text-align: left;
	margin-top: 5px;
	width: 95%;
	float: right;
	height: auto;
	margin-right:5%;
	border-top-color: #d3d2c9;
	border-top-style: dotted;
	border-top-width: 1px;
}

.cuerpo .bloque .campo {
	float: left;
	padding-top: 6px;
	padding-bottom: 6px;
}
.cuerpo .bloque .campo-izq {
	float: right;
	padding-top: 6px;
	padding-bottom: 6px;
}


.cuerpo .bloque .spantext {
	font-size: 12px;
	font-family:  Helvetica, Arial, Verdana, sans-serif;
	color: #D20D2A;
	font-weight: normal;
	background-color: #fff;
	padding: 5px;
	height: 26px;
	
}

.cuerpo .bloque .spantext2 {
	float:left;
	font-size: 12px;
	font-family:  Helvetica, Arial, Verdana, sans-serif;
	color: #D20D2A;
	font-weight: normal;
	background-color: #fff;
	padding: 5px;
	height: 26px;
	
}


}

.cuerpo .bloque textarea {
	font-size: 12px;
	font-family:  Helvetica, Arial, Verdana, sans-serif;
	color: #60605a;
	font-weight: normal;
	background-color: #e1e1da;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #c9c9c3;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
}

.cuerpo .bloque .m ul {
	list-style: none;
	margin-left: -40px;
	padding-left: 40px;
}

.cuerpo .bloque .m ul li {
	list-style: none;
	float: left;
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #60605a;
	font-weight: normal;
	background-color: #e1e1da;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #c9c9c3;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin: 3px;
	
}

.tabla-label td
{
	height: 23px;
}
/* GRIS 60605a */
/* ROJO dc4b34 #D81E05 #DE0035 #CC0C00 #E31033 #D20D2A*/


.info-maquina{
	height: 400px;
	width: 100%;
	float:left;	
}
.info-maquina .campo{
	width: 45%;
	height: 30px;
	display: table;
}
.seccion{
	width: 30%;
	margin-right:5px;
	float:left;
}
.info-maquina select{
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 2px 5px;
  font-size: 11px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  margin-bottom:2px;
 /* border-radius: 4px;*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.info-maquina .campo-chico{
	width: 300px;
	height: 30px;
	display: table;
	padding-top: 5px;
	padding-bottom: 5px;
}
.info-maquina .campo-mediano{
	width: 400px;
	height: 30px;
	display: table;
	padding-top: 5px;
	padding-bottom: 5px;
}
.info-maquina .campo .label{
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #60605a;
	font-weight: normal;	
	width: 120px;
	display: table-cell;
	padding: 4px;
	vertical-align: top;
	
}
.info-maquina .campo-chico .label-chico{
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #60605a;
	font-weight: normal;	
	width: 60px;
	display: table-cell;
	padding: 4px;
	vertical-align: top;
	
}
.info-maquina .campo .label-largo{
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #60605a;
	font-weight: normal;	
	width: 360px;
	display: table-cell;
	padding: 4px;
	vertical-align: top;
	
}
.info-maquina .campo .input-normal{
	
	float:left;
	width: 250px;	
	display: table-cell;	
}
.info-maquina .campo-chico .input-chico{
	float:left;
	width: 150px;	
	display: table-cell;
}
.info-maquina .campo .input-normal input{
	
	width: 250px;	
	font-size: 11px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #60605a;
	font-weight: normal;
	padding-bottom: 2px;
	
}
.info-maquina .campo .input-normal textarea{
	
	width: 250px;	
	font-size: 11px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #60605a;
	font-weight: normal;
	padding-bottom: 2px;
	resize: none;
	height: 100px;
}
.info-maquina .cont-botones{
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
	float:left;
}

.inputboton{
	font-family: Helvetica;
	font-size: 12px;
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	font-weight: normal;
	margin: 0px;
	border: none;
	padding: 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border-color: #014161;
	border-style: solid;
	border-width: 1px;
	background-color: #006699;
	margin-bottom: 15px;
	margin-right:2px;
	width: auto;
	height: 40px;
	cursor: pointer;
	margin-top: 5px;
	margin-left: -1px;
	min-width: 100px;
	float:left;
	margin-right: 10px;
}
 .inputboton:hover {
	font-family: Helvetica;
	font-size: 12px;
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	font-weight: normal;
	margin: 0px;
	border: none;
	padding: 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border-color: #014161;
	border-style: solid;
	border-width: 1px;
	background-color: #5AA7CE;	
	margin-bottom: 15px;
	width: auto;
	cursor: pointer;
	margin-top: 5px;
	margin-left: -1px;
	margin-right:2px;
	min-width: 100px;
	float:left;
	margin-right: 10px;
	
}
section {
  position: relative;
  border: 1px solid #0070A8;
  -moz-border-radius: 3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  padding-top: 37px;
  background: #006699;
  padding-bottom: 25px;
  margin-top: 10px;
}
section.positioned {
  position: absolute;
  top:100px;
  left:100px;
  width:800px;
  box-shadow: 0 0 15px #333;
}
.container {
  overflow-y: auto;
  max-height: 160px;
  background-color: #fff;
  
}

#datosConsul table tr{
	cursor: default;
}


.xlabel{
	font-size: 12px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #60605a;
	font-weight: normal;
}
.tdbindeos{
	border: none !important;
	text-align: left;
	padding-left: 0px;
}
.input{
	font-size: 11px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #60605a;
	font-weight: normal;
	padding-bottom: 2px;
}
.fltrow{
	background-color: #006699 !important;	
	border:none !important;	
}
.bloque  textarea {
    width: 250px;
    font-size: 11px;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    color: #60605A;
    font-weight: normal;
    padding-bottom: 2px;
    resize: none;
    height: 100px;
}


.subtitulo{

  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 11px;
  color: #00496B;
  border-bottom: 1px solid #006699 !important;
  padding: 5px;
}
.asig{
	height: 16px;
	width: 16px;
	background-image: url(../images/arrow-rigtho.png);
	float:left;
	cursor:pointer;	
}
.aant{
	height: 16px;
	width: 16px;
	background-image: url(../images/arrow-lefto.png);
	float:left;	
	cursor:pointer;
}
.asig:HOVER{
	height: 16px;
	width: 16px;
	background-image: url(../images/arrow-rigth.png);
	float:left;
	cursor:pointer;	
	
}
.aant:HOVER{
	height: 16px;
	width: 16px;
	background-image: url(../images/arrow-left.png);
	float:left;
	cursor:pointer;	
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #60605a;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
::-webkit-input-placeholder {
   color: #60605a;
}

:-moz-placeholder { /* Firefox 18- */
   color: #60605a;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #60605a;  
}

:-ms-input-placeholder {  
   color: #60605a;  
}
.contenedor-tabla table{
    border-spacing: 0;
    display: flex;/*Se ajuste dinamicamente al tamano del dispositivo**/
    max-height: 40vh; /*El alto que necesitemos**/
    overflow-y: scroll; /**El scroll verticalmente cuando sea necesario*/
    overflow-x: hidden;/*Sin scroll horizontal*/
    table-layout: fixed;/**Forzamos a que las filas tenga el mismo ancho**/
    width: 100%; /*El ancho que necesitemos*/
    border:1px solid gray;
}
.contenedor-tabla table tr{
	color: #60605a;
}

.contenedor-tabla thead{
    background-color: #f1eee9;
    position: absolute !important;/*el thead va ser siempre estatico**/
}

.contenedor-tabla th{
    border-bottom: 1px solid #c4c0c9;
    border-right: 1px solid #c4c0c9;
}

.contenedor-tabla th, .contenedor-tabla td{
    font-weight: normal;
    margin: 0;
   /* max-width: 18.5vw; 
    min-width: 18.5vw;*/
    word-wrap: break-word;/*Si el contenido supera el tamano, adiciona a una nueve linea**/
    font-size: 11px;
    height: 3.5vh !important;/*El mismo alto para todas las celdas**/
    padding: 4px;
    border-right: 1px solid #c4c0c9;	
    width:110px;
    word-break: break-word;
    
}

#datosConsul table{
	width: 100%;
	border-spacing: 0;
}