@charset "UTF-8";
/* CSS Document */


body {
	margin: 0px auto;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	background-position-y: -100px;

}

.top-bar {
	position: absolute;
	width: 100%;
	height: 36px;
	background-color: #656465;
	top: 0px;
}

.login-bar {
	position: absolute;
	width: 100%;
	height: 130px;
	background-color: #3c3c3c;
	top: 36px;
}

.login-bar .logo {
	float: left;
	margin-left: 60px;
	margin-top: 30px;
}

.login-bar .form {
	float: right;
	margin-right: 60px;
	margin-top: 25px;
}

.login-bar .form .input-texto {
	float: left;
	border: none;
	font-family: Arial;
	font-size: 14px;
	color: #3c3c3c;
	padding: 12px;
	width: 90px;
	background-color: #cdcac6;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin-right: 5px;
	
}

.contenido-tab {
	clear: both;
	margin-top: 5px;
	padding-top: 5px;
}
.login-bar .form .input-boton {
	float: left;
	border: none;
	font-family: Arial;
	font-size: 12px;
	color: #3c3c3c;
	padding: 13px;
	background-image: url(../images/sgh-web-login-iddle.jpg);
	background-repeat: repeat-x;
	border-bottom-style: solid;
	border-color: #b60608;
	padding-left: 15px;
	border-width: 1px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin-right: 5px;
	cursor: pointer;
	
}

.login-bar .form .input-boton:hover {
	float: left;
	border: none;
	font-family: Arial;
	font-size: 12px;
	color: #3c3c3c;
	padding: 13px;
	background-image: url(../images/sgh-web-login-over.jpg);
	background-repeat: repeat-x;
	border-bottom-style: solid;
	border-color: #b60608;
	padding-left: 15px;
	border-width: 1px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	margin-right: 5px;
	
}

.frase {
	position: absolute;
	width: 500px;
	height: 50px;
	bottom: 100px;
	right: 100px;
	text-align: right;
	font-family: Arial;
	font-size: 14px;
	color: #1f1f1f;
}

.footer {
	position: absolute;
	width: 100%;
	height: 46px;
	background-color: #656465;
	bottom: 0px;
}

.footer .legal {
	float: left;
	margin-left: 80px;
	margin-top: 17px;
	font-family: Arial;
	font-size: 10px;
	color: #282828;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
	
}
.Texto_Blanco {
	font-family:Helvetica, Arial, Verdana, sans-serif;
	font-size: 11px;
    font-weight: bold;
    color: white;
}