.style3 {font-size: 14px}
.Texto_Normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:black;
}
.Texto_Blanco {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    font-weight: bold;
    color: white;
}
.Texto_Requisitos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
    font-weight: bold;
    color: white;
    background-color: gray;
}
.Texto_Seleccion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    font-weight: bold;
	color: red;
}

.Texto_Rojo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: red;
	
}
.Texto_Azul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: blue;
}
.Texto_Rojo_apa {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:bold;
	color: red;
	
	
}
.Texto_Verde_apa {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: green;
	font-weight:bold;
}
.Texto_Negro_apa {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: black;
	font-weight:bold;
}
.Texto_Bienvenido { font-size: 11px; font-family: Arial, Helvetica, sans-serif; }
.Texto_Comentario { font-size: 11px; font-family: Arial, Helvetica, sans-serif; margin: 6px; padding: 6px; }
.Texto_Alertas {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
}
.Numero_Puntaje { color: #fff; font-size: 32px; font-family: Arial, Helvetica, sans-serif; }
.Texto_Negrita { font-size: 11px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;	color:black;}
.Input_Normal { color: #000; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; border-width: 0; }
.Input_Largo { color: #000; width:auto; max-width:180; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; border-color:#BBBBBB; border-width:thin; }
.txtarea { color: #000; font-size: 10px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; border-width: 0; width:650px }
.Input_TextBox_Coment { color: #000; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; width: 656px; height: 92px; border-width: 0; }
.Input_TextBox_Normal { color: #000; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; width: 550px; height: 92px; border-width: 0; }
.Input_TextBox { color: #000; font-size: 12px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; border-width: 0; }
.Link_Normal { font-size: 11px; font-family: arial, Helvetica, sans-serif; text-decoration: underline; }
.Link_Rojo { color:#DD0000; font-size: 11px; font-family: arial, Helvetica, sans-serif; text-decoration: underline; }
.Link_SinLinea {font-size: 11px; font-family: arial, Helvetica, sans-serif; text-decoration: none; }
.Titulo_Normal { font-size: 13px; font-family: Arial, Helvetica, sans-serif; }
.Titulo_Negrita { font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; }
.panel2 {
	background-image:url('images/vota_panel_02.gif');
	background-repeat:no-repeat; 
}	
.panel21 {
	background-image:url('images/PLACA_VOTAR_DIV_1.jpg');
	background-repeat:no-repeat; 
}	
.panel22 {
	background-image:url('images/PLACA_VOTAR_DIV_2.jpg');
	background-repeat:no-repeat; 
}	
.line {
	height: 10px;
	width: 100%;
	border-bottom-color: darkgray;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.Texto_NormalCeleste {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00AEEF;
}
.Texto_Normal_Resaltado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	line-height: 1.3;
	color: #555555;
}

.Sangria {
    text-indent:18px
}
.botones {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	color: grey;
	background-color: #666666;
	margin: 1px;
	padding: 3px;
	text-align: left;
	display: block;
	white-space:nowrap;
}
.botones:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	color: grey;
	background-color: #909090;
	margin: 1px;
	padding: 3px;
	display: block;
	text-decoration: none;
	text-align: left;
	white-space:nowrap;
}
.botonesHover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	color: red;
	background-color: #909090;
	margin: 1px;
	padding: 3px;
	display: block;
	text-decoration: none;
	text-align: left;
}
a.enlacesmenu{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	display: block;
}
a.enlacesmenu:hover{
	text-decoration: none;
	color: black;
}
a.sinenlace{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: yellow;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	display: block;
}
a.sinenlace:hover{
	text-decoration: none;
	color: black;
}
.subMe{
	border: 1px solid darkblue;
	background-color: #ffffff;
}
.espan{
	width: 5px;
	height: 5px;
}
.cmenu {
	margin: 0; padding: 0.3em; list-style-type: none; background-color: white;
}
.cmenu li:hover {}
.cmenu hr {
	border: 0; border-bottom: 1px solid grey; margin: 3px 0px 3px 0px; width: 10em;
}
.cmenu a {
	border: 0 !important;
}
.cmenu a:hover {
	text-decoration: underline !important;
}
.cmenu .topSep {
	font-size: 90%; border-top: 1px solid gray; margin-top: 0.3em; padding-top: 0.3em;
}
.top-menu {
	width: 100%;
	height: 53px;
	float: left;
	background-image: url(../images/vasa-bg-menu-top.jpg);
	background-repeat: repeat-x;
}

.top-menu ul {
	margin: 0px;
	margin-left: -40px;
	padding-left: 40px;
	list-style: none;
	height: 53px;
}

.top-menu ul li {
	float: left;
	font-size: 11px;
	font-family: Helvetica;
	color: #60605a;
	text-shadow: 0px 1px 0px #fff;
	height: 35px;
	padding-left: 5px;
	padding-right: 34px;
	padding-top: 15px;
	cursor: pointer;

}

.top-menu ul li.top-menu-selected {
	float: left;
	font-size: 11px;
	font-family: Helvetica;
	color: #60605a;
	text-shadow: 0px 1px 0px #fff;
	height: 35px;
	padding-left: 10px;
	padding-right: 34px;
	padding-top: 15px;

	cursor: pointer;
	background-image: url(../images/vasa-bg-menu-top-over.png);
	background-position: right;

}

.top-menu ul li:hover {
	background-image: url(../images/vasa-bg-menu-top-over.png);
	background-position: right;
}

.top-menu ul a:link {
	text-decoration: none;
	color: #60605a;
	
}
.top-menu ul a:visited {
	text-decoration: none;
	color: #60605a;
	
}

.submenu-top {
	width: 400px;
	height: 32px;
	position: absolute;
	z-index: 300;
	background-image: url(../images/vasa-bg-menu-top.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	text-align: left;

}

.submenu-top ul {
	list-style: none;
	margin: 0px;
	margin-left: -40px;
	padding-left: 40px;
	margin-top: 0px;
	
}

.submenu-top ul li {
	font-family: Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #60605a;
	margin-top: 8px;
	padding-bottom: 3px;
	cursor: pointer;
	float: left;
	margin-right: 20px;
	margin-left: 10px;

}

.submenu-top ul li.submenu-top-selected {
	font-family: Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #dc4b34;
	margin-top: 8px;
	padding-bottom: 3px;

}

.submenu-top ul li:hover {
	font-family: Helvetica;
	font-size: 11px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: #dc4b34;
	margin-top: 8px;
	padding-bottom: 3px;

}

.submenu-top ul li a:link {
	color: #60605a;
	text-decoration: none;
}
.submenu-top ul li a:hover {
	color: #dc4b34;
	text-decoration: none;
}
.submenu-top ul li a:visited {
	color: #60605a;
	text-decoration: none;
}
.submenu-top ul li a:visited:hover {
	color: #dc4b34;
	text-decoration: none;
}

.side-menu {
	width: 100%;
	height: 120px;
}

.side-menu ul {
	margin: 0px;
	margin-left: -40px;
	padding-left: 40px;
	list-style: none;
	height: 100px;
}

.side-menu ul li {
	font-size: 11px;
	font-family: Helvetica;
	color: #60605a;
	text-shadow: 0px 1px 0px #fff;
	text-align:center;
	vertical-align:middle;
	height: 20px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 34px;
	cursor: pointer;
	background-image: url(../images/vasa-bg-menu-side.jpg);
	background-repeat: repeat-x;

}

.side-menu ul li.side-menu-selected {
	font-size: 11px;
	font-family: Helvetica;
	color: #60605a;
	text-shadow: 0px 1px 0px #fff;
	text-align:center;
	vertical-align:middle;
	height: 35px;
	padding-left: 10px;
	padding-right: 34px;

	cursor: pointer;
	background-image: url(../images/vasa-bg-menu-side-over.png);
	background-position: right;

}

.side-menu ul li:hover {
	background-image: url(../images/vasa-bg-menu-side-over.png);
	background-position: right;
}

.side-menu ul a:link {
	text-decoration: none;
	color: #60605a;
	
}
.side-menu ul a:visited {
	text-decoration: none;
	color: #60605a;
	
}

